# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Django migrations cache
*.py[cod]

#ignoring the env file
.env


#extra files
fastapi-project/
movieApp/

# .Assignment.txt
# .main issue.docx
# main issue.docx
