<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comment</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
  <div class="pb-6">{% include 'navbar.html' %}</div>

  <div class="max-w-2xl mx-auto bg-white p-8 rounded shadow ">
    <form action="{% url 'comment' content.id %}" method="POST" class="space-x-6">
      {% csrf_token %}
      <h2 class="text-2xl font-semibold text-gray-700">Post a Comment</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700">Post your comment</label>
          <input type="text" id="comment" name="comment" required placeholder="Type your comment"
            class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          </input>
        </div>
      </div>
      <div class="pt-4">
        <button type="submit"
          class="bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition">
          Submit
        </button>
      </div>
    </form>
  </div>

  <!-- Displaying all comments -->
  <div class="max-w-2xl mx-auto bg-white p-8 rounded shadow mt-6">
    <h2 class="text-2xl font-semibold text-gray-700">All Comments</h2>
    {% for comment in comments %}
      <div class="bg-gray-50 p-4 rounded shadow-md mt-2">
        <p class="text-lg font-semibold text-gray-800">{{ comment.comment }}</p>
        <p class="text-sm text-gray-500">Posted by {{ comment.user.username }} on {{ comment.created_at }}</p>
      </div>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </div>

</body>

</html>
