{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded-lg">
    <h1 class="display-4">Welcome to Job Portal</h1>
    <p class="lead">Find your dream job or post job openings for your company.</p>
    <hr class="my-4">
    <p>Register as a job seeker or recruiter to get started.</p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mr-2" href="{% url 'job-list' %}" role="button">Browse Jobs</a>
        {% if not user.is_authenticated %}
        <a class="btn btn-success btn-lg" href="{% url 'register' %}" role="button">Register Now</a>
        {% endif %}
    </div>
</div>
{% endblock %}